<template>
  <div>
    <input
      type="text"
      placeholder="Author..."
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  props: ['value'],
}
</script>

<style lang="scss" scoped>
input {
  padding: .5em;
}
</style>