<template>
  <div class="images">
    <div v-for="image in images" :key="image.id" class="image__container">
      <a :href="image.url" target="_blank">
        <img
          :src="`https://picsum.photos/id/${image.id}/367/267`"
          alt="image"
          class="image__img"
        />
      </a>
      <div class="image__info">
        <div class="image__author">
          <h3>{{ image.author }}</h3>
        </div>
        <span>#{{ image.id }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
    },
  },
}
</script>

<style lang="scss" scoped>
.image {
  &__container {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 0.5em;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  &__author {
    flex: 1;
    min-width: 0;
    padding-right: 0.5em;
    h3 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .image {
    &__container {
      width: 48%;
      display: inline-block;
      &:nth-child(odd) {
        margin-right: 4%;
      }
    }
  }
}
@media (min-width: 992px) {
  .image {
    &__container {
      width: 32%;
      display: inline-block;
      margin-right: 2%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
</style>