<template>
  <div class="pagination">
    <button
      v-if="links.prev"
      @click="paginate('prev')"
      class="pagination__button pagination__button--prev"
    >
      {{ ui.prev }}
    </button>
    <span class="pagination__page">{{ page }}</span>
    <button
      v-if="links.next"
      @click="paginate('next')"
      class="pagination__button pagination__button--next"
    >
      {{ ui.next }}
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ui: {
        prev: 'Prev',
        next: 'Next',
      },
    }
  },
  props: {
    links: {
      type: Object,
      required: true,
    },
    page: {
      type: Number,
      required: true,
    },
  },
  methods: {
    paginate(direction) {
      this.$emit('paginate', direction)
    },
  },
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  &__button {
    margin: 0 1em;
    padding: .5em 1em;
    cursor: pointer;
    border: none;
    background-color: #f1f5f8;
  }
}
</style>