<template>
  <div class="slider__outer-container">
    <span class="slider__title">{{ title }}</span>
    <div class="slider__container">
      <input
        type="range"
        min="1"
        max="100"
        step="1"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
        @change="getImages"
      />
      <span>{{ value }}</span>
    </div>
  </div>
</template>

<script>
import debounce from 'lodash.debounce'

export default {
  props: ['value'],
  data() {
    return {
      title: 'Images per page: ',
    }
  },
  methods: {
    getImages: debounce(function () {
      this.$emit('getImages')
    }, 800),
  },
}
</script>

<style lang="scss" scoped>
.slider {
  &__outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
  &__title {
    margin-bottom: 0.25em;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      margin-right: .5em;
    }
  }
}
</style>
