<template>
  <div id="app">
    <div class="container">
      <div class="menu">
        <Slider v-model="limit" @getImages="getImages" />
        <AuthorFilter v-model="searchAuthor" />
      </div>
      <ImagesList :images="filteredImages" />
      <Pagination :links="links" :page="page" @paginate="paginate" />
    </div>
  </div>
</template>

<script>
import Slider from '@/components/Slider.vue'
import AuthorFilter from '@/components/AuthorFilter.vue'
import ImagesList from '@/components/ImagesList.vue'
import Pagination from '@/components/Pagination.vue'

export default {
  name: 'App',
  components: {
    Slider,
    AuthorFilter,
    ImagesList,
    Pagination
  },
  data() {
    return {
      images: [],
      links: {},
      page: 1,
      limit: 100,
      searchAuthor: '',
    }
  },
  computed: {
    filteredImages() {
      return this.images.filter((image) => {
        return image.author
          .toLowerCase()
          .includes(this.searchAuthor.toLowerCase())
      })
    },
  },
  created() {
    this.getImages()
  },
  methods: {
    getImages() {
      this.$http
        .get(
          `https://picsum.photos/v2/list?page=${this.page}&limit=${this.limit}`
        )
        .then((result) => {
          this.images = result.data
          this.links = this.$parseLinkHeader(result.headers.link)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    paginate(direction) {
      let url
      if (direction === 'next') {
        url = this.links.next.url
        this.page += 1
      } else {
        url = this.links.prev.url
        this.page -= 1
      }
      this.$http
        .get(url)
        .then((result) => {
          this.images = result.data
          this.links = this.$parseLinkHeader(result.headers.link)
        })
        .catch((error) => {
          console.log(error)
        })
    },
  },
}
</script>

<style lang="scss">
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
body {
  margin: 0;
  font-family: Sans-Serif;
}
</style>
